/**
 * Estilos para la Webapp de Cajeros
 * 
 * Este archivo importa todos los módulos CSS modulares.
 * La implementación real está dividida en módulos dentro de ./css/
 * 
 * @version 0.12.0 - Refactorizado en módulos CSS
 */

/* Importar módulos CSS en orden de dependencia */
@import url("./css/variables.css");
@import url("./css/base.css");
@import url("./css/animations.css");
@import url("./css/sidebar.css");
@import url("./css/profile.css");
@import url("./css/dashboard.css");
@import url("./css/modals.css");
@import url("./css/tabs.css");
@import url("./css/transactions.css");
@import url("./css/modals-verification.css");
@import url("./css/modals-payment.css");
@import url("./css/notifications-toast.css");
@import url("./css/modals-confirmation.css");
@import url("./css/notifications-system.css");
@import url("./css/history.css");
@import url("./css/modals-rejection.css");
@import url("./css/modals-adjustment.css");
@import url("./css/saldo.css");
@import url("./css/responsive.css");
